$color-text: #FFF;
$width-site: 1200px;
$gap: 32px;

* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family:
        'Montserrat', sans-serif;
}

button {
    cursor: pointer;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background: url(img/topback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__content {
        padding-top: 217px;
    }

    &__title {
        color: $color-text;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        max-width: 789px;
    }

    &__text {
        color: $color-text;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        margin-top: 32px;
    }

    &__button {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;

        &:hover {
            background: #EB443F;
        }

        &__form {
            width: 234px;
            height: 48px;
            border-radius: 30px;
            background: #9C0332;
            color: $color-text;
            margin-top: 44px;
        }
    }
}

.product {
    height: 556px;
    background: #000915;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__box {
        position: relative;
    }

    &__content {
        display: flex;
        gap: 32px;
        justify-content: space-between;
    }

    &__img {
        width: 379px;
        height: 300px;
        border-radius: 16px;

        &:hover {
            border: 3px solid #44D2FF;
        }
    }

    &__name {
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        color: $color-text;
        font-size: 24px;
        font-weight: 600;
        position: absolute;
        left: 32px;
        bottom: 32px;
    }
}

.menu-izb {
    display: flex;
    align-items: center;
    gap: 21px;
    position: absolute;
    bottom: 14px;
    right: 15px;
}